*{
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    width: 100%;
    background: rgba(8, 8, 8, 1.0);
    background: linear-gradient(315deg, rgba(8, 8, 8, 1.0), rgba(1, 1, 1, 1.0));
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
}
.content_writer{
    /* height: 50%; */
    width: 50%;
    background-color: aqua;
}
.photo_spot{
    /* height: 50%; */
    width: 50%;
    background-color: red;
}
